
.project {
	font-size: 1.1em;
	margin-top: 2em;
	display: block;
	clear: both;
}

.project_header {
	font-size: 1.5em;
	margin-bottom: .5em;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.project_title {
	margin-right: 1em;
}
.project_date {
	margin-left: 1em;
}

.project_image {
	float: left;
	width: 30%;
	margin-bottom: 2em;
}

.project_text {
	text-align: left;
	float: right;
	width: 70%;
	margin-bottom: 2em;
}